<suite name="Test Suite">
    <listeners>
        <listener class-name="Util.Listeners"/>
        <listener class-name="org.testng.reporters.FailedReporter" />
    </listeners>
    <test name="DemoTest">
<!--        <parameter name="browser" value="chrome"/>-->
        <classes>
            <class name="MailfenceTest"/>
        </classes>
    </test>
</suite>